*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(13, 17, 23);
    position: relative;
}

/*header*/

header{
    background: #1C1C1C;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

header h1{
    color: var(--white);
    margin-left: 3%;
    padding: 10px 0;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
    margin-left: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 1em;
    padding: 12px;
    transition: all 250ms linear 0s;
    border-radius: 20px;
}

header nav ul li a:hover{
    color: white;
    background-color: rgb(0, 93, 241);
}

/*bg-imagem*/

.bg-fundo{
    width: 100%;
    height: 700px;
    position: relative;
    background: var(--bg-color);
    background: linear-gradient(180deg, var(--bg-color) 0%, var(--bg-color) 35%, var(--blue-gradiente) 100%);
    -webkit-background: linear-gradient(180deg, var(--bg-color) 0%, var(--bg-color) 35%, var(--blue-gradiente) 100%);
    -o-background: linear-gradient(180deg, var(--bg-color) 0%, var(--bg-color) 35%, var(--blue-gradiente) 100%);
}

.bg-fundo h2{
    width: 100%;
    position: absolute;
    color: var(--white-background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4em;
    text-align: center;
}

/*Sobre mim*/

.SobreMim{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px;
}

.SobreMim h2{
    color: var(--fullWhite);
    font-size: 2.4em;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.SobreMim img{
    width: 200px;
    border-radius: 50%;
    margin-top: 2%;
}

.sobre h3{
    color: var(--fullWhite);
    font-size: 2em;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.sobre span{
    color: rgb(13, 238, 238);
}

.p1, .p2{
    color: rgba(245, 245, 245, 0.788);
    font-size: 1.5em;
    margin-bottom: 25px;
    background-color: #000;
    padding: 30px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7);
}

/*Techs*/

.stackTech{
    display: grid;
    grid-template-columns: "h2 h2 h2 h2"
                         "front front front front"
                         "techFront techFront techFront techFront"
                         "back back back back"
                         "techBack techBack techBack techBack"
                         "outros outros outros outros"
                         "teckOutros teckOutros teckOutros teckOutros";
}

    /*Techs Front*/

.Pilha{
    display: flex;
    justify-content: center;
    font-size: 2.4em;
    color: var(--fullWhite);
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: "h2";
}

.front{
    display: flex;
    justify-content: center;
    font-size: 2.4em;
    color: var(--fullWhite);
    grid-area: "front";
}

.techFront{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: "techFront";
}

.techFront img{
    width: 60px;
}

.html{
    text-align: center;
    background-color: var(--tech-bg);
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.html p{
    color: var(--techWhite);
}

.css{
    text-align: center;
    background-color: var(--tech-bg);
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.css p{
    color: var(--techWhite);
}

.javascript{
    text-align: center;
    background-color: var(--tech-bg);
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.javascript p{
    color: var(--techWhite);
}

.bootstrap{
    text-align: center;
    background-color: var(--tech-bg);
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.bootstrap p{
    color: var(--techWhite);
}

    /*Stack backend*/

.back{
    display: flex;
    justify-content: center;
    font-size: 2.4em;
    color: var(--fullWhite);
    grid-area: "back";
}

.techBack img{
    width: 60px;
}

.techBack{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: "techBack";
}

.node{
    text-align: center;
    background-color: var(--tech-bg);
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.node p{
    color: var(--techWhite);
}

    /*Stack Outros*/

.outros{
    display: flex;
    justify-content: center;
    font-size: 2.4em;
    color: var(--fullWhite);
    grid-area: "outros";
}

.teckOutros img{
    width: 60px;
}

.teckOutros{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: "teckOutros";
}

.git{
    text-align: center;
    background-color: var(--tech-bg);
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.git p{
    color: var(--techWhite);
}

.github{
    text-align: center;
    background-color: var(--tech-bg);
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.github p{
    color: var(--techWhite);
}

/*footer*/

footer{
    display: flex;
    width: 100%;
    height: 300px;
    background: rgb(13, 17, 23);
    align-items: center;
}

footer .container1{
    width: 100%;
    text-align: center;
}

footer h2{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 2.4em;
    background-color: var(--bg-color);
}

footer a{
    text-decoration: none;
    color: var(--fullWhite);
}

footer .stacks2{
    margin-top: 20px;
}

footer svg{
    width: 40px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 20px;
}

footer .linkedin{
    border: 2px solid #017bac;
    padding: 10px;
    border-radius: 15px;
}

footer .outlook{
    border: 2px solid #2194f0;
    padding: 10px;
    border-radius: 15px;
}

footer .insta{
    border: 2px solid #f7683e;
    padding: 10px;
    border-radius: 15px;
}

footer .github{
    border: 2px solid rgba(255, 255, 255, 0.514);
    padding: 10px;
    border-radius: 15px;
}

footer .linkedin:hover{
    transform: scale(1.2);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7);
}

footer .outlook:hover{
    transform: scale(1.2);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7);
}

footer .insta:hover{
    transform: scale(1.2);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7);
}

footer .github:hover{
    transform: scale(1.2);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7);
}

/*copyright*/

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-color);
    font-size: 1.1em;
    color: var(--fullWhite);
}

/*whatsapp*/

.whats{
    position: fixed;
    width: 260px;
    height: 80px;
    background-color: #4dcc5b;
    bottom: 25px;
    right: -350px;
    border-radius: 50px;
    overflow: hidden;
    transition: 0.8s ease;
    -webkit-transition: 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

/*se o transition nao der tentar essa do media*/

@media not all and (min-resolution: .001dpcm){
    .whats{
        transition: 0.8s ease;
        -webkit-transition: 0.8s ease;
    }
}

.whats:hover{
    right: 5px;
}

.whats-image svg{
    position: fixed;
    width: 60px;
    bottom: 35px;
    right: 15px;
    cursor: pointer;
    z-index: 10;
}

.whats-tel{
    position: absolute;
    margin-top: 11%;
    margin-left: 5%;
    font-size: 1.3em;
    color: var(--fullWhite);
}
