*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: rgb(13, 17, 23);
    position: relative;
}

/*header*/

header{
    background: rgb(32, 32, 36);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

header h1{
    color: white;
    margin-left: 3%;
    padding: 10px 0;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
    margin-left: 10px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 12px;
    transition: all 250ms linear 0s;
    border-radius: 20px;
}

header nav ul li a:hover{
    background-color: rgb(36, 47, 65);
}

/*bg-imagem*/

.bg-fundo{
    width: 100%;
    height: 700px;
    position: relative;
    background-color: #010f1c;
}

.bg-fundo img{
    max-width: 2000px;
    width: 100%;
    height: 100%;
}

.bg-fundo h2{
    width: 100%;
    position: absolute;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4em;
    text-align: center;
}

/*Galeria de projetos*/

.h2 h2{
    font-size: 2.4em;
    text-align: center;
    margin-top: 4%;
    color: #fff;
    background-color: rgb(13, 17, 23);
    padding: 30px;
    margin-top: 0;
}

.estrutura-galeria{
    max-width: 2000px;
    padding: 20px 0 20px 0;
    gap: 20px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "cartao cartao cartao cartao";
    background-color: rgb(13, 17, 23);
}

.estrutura-galeria .cartao{
    margin: 0 auto;
    display: flex;
    max-width: 400px;
    width: 100%;
    height: 300px;
    background: #ecf0f3;
    border-radius: 35px;
    grid-area: "cartao";
}

/*Techs*/

.stackTech{
    display: grid;
    grid-template-columns: "h2 h2 h2 h2"
                         "front front front front"
                         "techFront techFront techFront techFront"
                         "back back back back"
                         "techBack techBack techBack techBack"
                         "outros outros outros outros"
                         "teckOutros teckOutros teckOutros teckOutros";
}

    /*Techs Front*/

.Pilha{
    display: flex;
    justify-content: center;
    font-size: 2.4em;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: rgb(13, 17, 23); */
    grid-area: "h2";
}

.front{
    display: flex;
    justify-content: center;
    font-size: 2.4em;
    color: white;
    grid-area: "front";
}

.techFront{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: "techFront";
}

.techFront img{
    width: 60px;
}

.html{
    text-align: center;
    background-color: #202024;
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.html p{
    color: rgba(255, 255, 255, 0.699);
}

.css{
    text-align: center;
    background-color: #202024;
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.css p{
    color: rgba(255, 255, 255, 0.699);
}

.javascript{
    text-align: center;
    background-color: #202024;
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.javascript p{
    color: rgba(255, 255, 255, 0.699);
}

.bootstrap{
    text-align: center;
    background-color: #202024;
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.bootstrap p{
    color: rgba(255, 255, 255, 0.699);
}

    /*Stack backend*/

.back{
    display: flex;
    justify-content: center;
    font-size: 2.4em;
    color: white;
    grid-area: "back";
}

.techBack img{
    width: 60px;
}

.techBack{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: "techBack";
}

.node{
    text-align: center;
    background-color: #202024;
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.node p{
    color: rgba(255, 255, 255, 0.699);
}

    /*Stack Outros*/

.outros{
    display: flex;
    justify-content: center;
    font-size: 2.4em;
    color: white;
    grid-area: "outros";
}

.teckOutros img{
    width: 60px;
}

.teckOutros{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: "teckOutros";
}

.git{
    text-align: center;
    background-color: #202024;
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.git p{
    color: rgba(255, 255, 255, 0.699);
}

.github{
    text-align: center;
    background-color: #202024;
    padding: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.github p{
    color: rgba(255, 255, 255, 0.699);
}




/*footer*/

footer{
    display: flex;
    width: 100%;
    height: 300px;
    background: rgb(13, 17, 23);
    align-items: center;
}

footer .container1{
    width: 100%;
    text-align: center;
}

footer h2{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 2.4em;
    background-color: rgb(13, 17, 23);
}

footer a{
    text-decoration: none;
    color: white;
}

footer .stacks2{
    margin-top: 20px;
}

footer svg{
    width: 40px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 20px;
}

footer .linkedin{
    border: 2px solid #017bac;
    padding: 10px;
    border-radius: 15px;
}

footer .outlook{
    border: 2px solid #2194f0;
    padding: 10px;
    border-radius: 15px;
}

footer .insta{
    border: 2px solid #f7683e;
    padding: 10px;
    border-radius: 15px;
}

footer .github{
    border: 2px solid rgba(255, 255, 255, 0.514);
    padding: 10px;
    border-radius: 15px;
}

footer .linkedin:hover{
    transform: scale(1.2);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7);
}

footer .outlook:hover{
    transform: scale(1.2);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7);
}

footer .insta:hover{
    transform: scale(1.2);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7);
}

footer .github:hover{
    transform: scale(1.2);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 2px rgba(255,255,255,0.7);
}

/*copyright*/

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(13, 17, 23);
    font-size: 1.1em;
    color: white;
}

/*whatsapp*/

.whats{
    position: fixed;
    width: 260px;
    height: 80px;
    background-color: #4dcc5b;
    bottom: 25px;
    right: -350px;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.8s ease;
}

.whats:hover{
    right: 5px;
}

.whats-image svg{
    position: fixed;
    width: 60px;
    bottom: 35px;
    right: 15px;
    cursor: pointer;
    z-index: 10;
}

.whats-tel{
    position: absolute;
    margin-top: 11%;
    margin-left: 5%;
    font-size: 1.3em;
    color: #fff;
}
